---
// uri: column/intro/100002201
// uri: column/intro/new-hotel-offerings

import { CatalogComponent } from "@/components/ShadcnComponents.tsx";
import Layout from "@/layouts/Layout.astro";
import { COLUMN } from "@/helpers/constants";
import { getIntroFromCache } from "@/lib/services";
import { dataMap } from "@/lib/convert";

const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");

Astro.cookies.set(COLUMN, slug, { path: "/" });

// load from cached
const intro = await getIntroFromCache(slug);

if (!intro) return Astro.redirect("/404");

const catalogs = dataMap(intro);
---

<!-- <a href=`/${COLUMN_ARTICLE_PATH}/index?cid=${slug}`>start explore</a> -->
<Layout>
  <div data-intro>
    <!-- <template data-column-slug={slug}></template>
        <template data-catalogs={catalogs}></template> -->
    <article set:html={intro.data.description.iv} />

    <CatalogComponent data={catalogs} client:visible />
  </div>
</Layout>

<!-- <script>
    import { getElement } from '@/helpers/dom.js';

    for (const intro of document.querySelectorAll('[data-intro]')) {
        const data_column_slug = getElement('[data-column-slug]', HTMLElement, intro);

        if (data_column_slug.dataset.slug) {
            const slug = data_column_slug.dataset.slug;
        
            localStorage.setItem('column', slug);
        }

        const data_catalogs = getElement('[data-catalogs]', HTMLElement, intro);

        if (data_catalogs.dataset.catalogs) {
            const catalogs = data_catalogs.dataset.catalogs;
        
            localStorage.setItem('catalogs', catalogs);
        }
    }
</script> -->
