---
import AccordionGroupItem, {
  type Props as AccordionGroupItemProps,
} from "./AccordionGroupItem.astro";

interface Props {
  index: number;
  catalog: {
    label: string;
    items: AccordionGroupItemProps[];
  };
}

const { index, catalog } = Astro.props;
const activated = index === 0;
---

<div
  class={`hs-accordion ${
    activated ? "active" : ""
  } bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg dark:bg-neutral-800 dark:border-neutral-700`}
  id={`hs-basic-nested-heading-${index}`}
>
  <button
    class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-hidden dark:focus:text-neutral-400"
    aria-expanded={activated ? "true" : "false"}
    aria-controls={`hs-basic-nested-collapse-${index}`}
  >
    {catalog.label}
    <svg
      class="hs-accordion-active:hidden block size-4"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m6 9 6 6 6-6"></path>
    </svg>
    <svg
      class="hs-accordion-active:block hidden size-4"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m18 15-6-6-6 6"></path>
    </svg>
  </button>
  <div
    id={`hs-basic-nested-collapse-${index}`}
    class={`hs-accordion-content w-full overflow-hidden transition-[height] duration-300 ${
      activated ? "" : "hidden"
    }`}
    role="region"
    aria-labelledby={`hs-basic-nested-heading-${index}`}
  >
    <div class="hs-accordion-group ps-6">
      {
        catalog.items.map((item) => {
          return <AccordionGroupItem link={item.link} label={item.label} />;
        })
      }
    </div>
  </div>
</div>
